.containerbody{
  min-width: 800px;
  min-height: 800px;
}
.imageBck
{
  background: gray;
  font-size: 20px;
  color: white;
  line-height: 5;
  font-weight: 500;
  padding: 20px 20px 20px 20px;
}

.navbar-inverse
{
  background: #525358;
  color: white;
}