<nav class="navbar navbar-expand-lg navbar-inverse  navbar-light bg-light">
  <div class="container">
    <button (click)="toggleMenu()" class="navbar-brand navbar-toggler glyphicon glyphicon-menu-hamburger">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li *ngFor="let item of menuItems" (click)="OpenSideNavigation(item)" class="nav-item nav-tabs">
          <a href="#" class="nav-link">{{item.name}}</a>
        </li>
      </ul>
    </div>
    <!-- </div> -->
  </div>
  <!-- close container div -->
</nav>
<!-- close navbar nav -->

<app-sidenavigation [@slideInOut]="menuState" (MenuSelectedEvent)="setSelectedItem($event)" (closeSidebarEvent)="closeSideBar($event)"
  [parentMenuID]="parentMenuID">
</app-sidenavigation>



<div *ngIf="selectedItem != null && selectedItem != 'undefined'" class="container containerbody">
  <div class="imageBck">
    <div class="row">
      <div class="col-sm-4">
        <img [src]="getlogo(selectedItem)" alt="" height="100" width="100">
      </div>
      <div class="col-sm-8">
        id : {{ selectedItem.id }}
        <br> Title: {{ selectedItem.title }}
        <br> Name: {{ selectedItem.name }}
        <br> href: {{ selectedItem.href }}
        <br> Postcard: {{ selectedItem.postcard }}
      </div>
    </div>
  </div>
</div>